.header{
    padding: 30px 80px 40px;
    background: center / cover no-repeat #fff url(../images/background_header.svg);
    position: relative;
    height: 800px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;  
}

.header__footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__paragraph{
    margin: 0;
    font-weight: 500;
    color: #6f6f6f;
}


.header__title{
    margin: 183px 0 0;
    max-width: 720px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    z-index: 1
}

.header__span-accent{
    display: block;
    font-family:"Noto Serif","Times New Roman",serif; 
    font-style: italic;
    color: #3f96f3;
}
.header__description{
   font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-size: clamp(16px, 1.37vw, 20px);
  line-height: 1.5;
  margin: 28px 0 8%;
  z-index: 1
}



