.menu {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu__title{
    margin: 0 0 24px;
    font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  text-align: center;
  
}

.menu__subtitle{
    margin: 0 0 100px;
    max-width: 780px;
    font-style: italic;
    font-family: "Noto Serif", "Times New Roman", serif;
    text-align: center;
}

.menu__cards{
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}





