.menu {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title{
    margin: 0 0 24px;
}

.menu__subtitle{
    margin: 0 0 100px;
    max-width: 780px;
    font-style: italic;
}

.menu__cards{
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}



