.recipes{
    color:#fff;
    background-color: #0a2750;
    padding: 100px 80px 215px;
    background-image: url(../images/background_recipes.svg);
}

.recipes__title{
    margin: 0 0 24px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle{
    margin:0 0 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
}
  
.recipes__videos{
    display:flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipes__video-caption{
    margin-bottom: 0;
   display: flex;
   justify-content: space-between;
}
.recipes__iframe{
    border-radius: 8px;
    width: 480px;
    height: 270px;
    border:none;

}

