.reservation{
    padding: 100px 0 120px;
    background: #D9E7FF url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title{
    margin: 0 0 80px;
    text-align: center;
    font-size: 45px;
    line-height: 40px;
    font-weight:500;
    font-family:"Inter",Times New Roman,Arial;
    color:#0a2750;
}

.reservation__form{
   margin: 0 auto;
}
