.page {
    font-family: Inter, Arial, sans-serif;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    padding: 30px 80px 40px;
    background: center / cover no-repeat #fff url(../images/background_header.svg);
    position: relative;
    height: 800px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;  
}

.header__footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__paragraph{
    margin: 0;
    font-style: italic;
}


.header__title{
    margin: 183px 0 0;
    max-width: 720px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
}

.header__span-accent{
    display: block;
    font-family:"noto-serif","times new roman",serif; 
    font-style: italic;
    color: #3f96f3;
}
.header__description{
    margin: 28px 0 0;
    max-width: 683px;
    font-style: italic;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    width: 105px;
    height: 39px;
    position: relative;
    left: -50px;

}

.nav__links{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__link{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

.element.style{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recipes{
    color:#fff;
    background-color: #0a2750;
    padding: 100px 80px 215px;
}
.recipes__title{
    margin: 0 0 24px;
}

.recipes__title{
    margin:0 0 24px;
}

.recipes__subtitle{
    margin:0 0 80px;
}
  
.recipes__videos{
    display:flex;
    justify-content: center;
    gap: 100px;
}

.recipes__video-caption{
   display: flex;
   justify-content: space-between;
}
